:root {
     /* Primary */

    --light-red: hsl(0, 100%, 67%);
    --orangy-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */

    --light-slate-blue-background: hsl(252, 100%, 67%);
    --light-royal-blue-background: hsl(241 , 81% , 54%);

    --Violet-blue-circle: hsla(256 , 72%, 46%, 1); 
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);

    /* Neutral */

    --White: hsl(0, 0%, 100%); 
    --Pale-blue: hsl(221, 100%, 96%); 
    --Light-lavender: hsl(241, 100%, 89%); 
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hanken Grotesk" , sans-serif;
    background-color: #eee;
}

ul {
    list-style: none;
}

.contanier {
   background-color: var(--White); 
   width: 768px;
   height: 500px;
   border-radius: 12px;
   margin: 50px auto;
   box-shadow: 5px 5px 15px #00000045;
   display: flex;
   justify-content: space-between;
}

@media(max-width: 767px) {
    .contanier {
       width: 100%; 
       flex-direction: column;
       height: 100vh;
       margin: 0;
    }
}
.left {
    position: relative;
    width: 45%;
    background-color: var(--Violet-blue-circle);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 30px;
    text-align: center;
}

@media(max-width: 767px) {
    .left {
        width: 100%;
        height: 50%;
    }
}

.left > p {
    color: var(--Light-lavender);
    font-size: 25px;
}

.left .circle {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background-color: hsla(259, 48%, 30%, 0.425);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .circle p:first-child {
    position: absolute;
    color: var(--White);
    font-size: 50px;
    font-weight: bold;
    top: 150px;
}

.left .circle p:last-child {
    position: absolute;
    color: var(--Light-lavender);
    font-size: 10px;
    top: 210px;
    opacity: 0.6;
}

.left .great {
    color: var(--White);
    font-size: 30px;
    font-weight: bold;
}

.left .great + p {
    font-size: 20px;
    line-height: 1.2;
}
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 75px;
}

@media(max-width: 767px) {
    .right {
        width: 100%;
        height: 50%;
        padding: 0 30px;
    }
}
.right h1 {
    color: var(--Dark-gray-blue)
}

.right ul li {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px;  
    background-color: var(--Pale-blue);
    padding: 10px 20px;
    border-radius: 12px;
}

.right ul li p:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.right ul li p:first-child svg {
    margin-right: 10px;
}

.right ul li p:last-child {
    font-weight: bold;
    font-size: 20px;
}

.right ul li:first-child p:first-child {
    color: var(--light-red);
}

.right ul li:nth-child(2) p:first-child {
    color: var(--orangy-yellow);
}

.right ul li:nth-child(3) p:first-child {
    color: var(--Green-teal);
}

.right ul li:last-child p:first-child {
    color: var(--Cobalt-blue);
}

.right ul li:first-child {
    background-color: hsla(0, 62%, 68%, 0.178);
}

.right ul li:nth-child(2) {
    background-color: hsla(54, 61%, 53%, 0.164);
}

.right ul li:nth-child(3) {
    background-color: hsla(152, 63%, 66%, 0.171);
}

.right ul li:last-child {
    background-color: hsla(231, 67%, 80%, 0.151);
}
.right ul li p:last-child span:last-child {
    opacity: 0.5;
}

.right button {
    background-color: var(--Dark-gray-blue);
    border: none;
    padding: 20px;
    border-radius: 30px;
    color: var(--White);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.right button:hover,
.right button:active {
    background-color: var(--light-royal-blue-background);
}